<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/index.js"></script>
</head>
<body>
   <div class="box">
       <div class="login_tab">
           <p class="login">
               <span>登录</span>
           </p>
           <div class="inputB">
               <p>用户名：<input type="text" name=""></p>
               <p>密　码：<input type="password" name=""></p>
               <p><button>登录</button></p>
               <p class="zhuce">还没有注册，<span>马上注册</span></p>
           </div>
       </div>
       <div class="zhuce_tab on">
           <p class="login">
               <span>注册</span>
           </p>
           <div class="inputB">
               <p>用户名：<input type="text" name="username"></p>
               <p>密　码：<input type="password" name="password"></p>
               <p>确　认：<input type="password" name="repassword"></p>
               <p class="zhuce_btn"><button>注册</button></p>
               <p class="zhuce">已有账号，<span>马上登录</span></p>
           </div>
       </div>
   </div>
</body>
</html>